@model AzureAt.Models.FileData

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>FileData</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data" asp-controller="Blob"
              asp-action="Create">

            <div class="form-group">

                <label> Select File </label>
                <input class="form-control" name="files" multiple="multiple" type="file" />
            </div>
            <div class="form-group">
                <input class="btn btn-success" type="submit" value="Submit" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
