@model IEnumerable<AzureAt.Models.FileData>

@{
    ViewData["Title"] = "ShowAllBlobs";
}

<h1>ShowAllBlobs</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>FileName</th>
            <th>FileSize</th>
            <th>ModifiedOn</th>
            <th>Download</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var data in Model)
        {
            <tr>
                <td>@data.FileName</td>
                <td>@data.FileSize</td>
                <td>@data.ModifiedOn</td>
                <td> <a href="/Blob/Download?blobName=@data.FileName">Download</a> </td>
                <td> <a href="/Blob/Delete?blobName=@data.FileName">Delete</a> </td>
            </tr>
        }
    </tbody>
</table>


